.about {
  padding: 9% 0 0 0;
  //   display: flex;
  //   flex-direction: column;

  .top {
    // display: flex;
    // justify-content: center;

    color: #f97300;
  }
  .bottom {
    margin-top: 80px;
    padding-bottom: 37px;
    display: flex;
    justify-content: center;
    .img {
      .about-img {
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        height: 90%;
        width: 90%;
        margin-left: 27px;
      }
    }

    .col-8 {
      border-left: 5px solid #10828c;
    }
    .content {
      padding: 2rem;
      .name {
        color: #10828c;
      }
      p {
        max-width: 90%;
      }
      //   padding-top: 30px;
      //   border-left: 5px solid #10828c;
      //   padding-left: 25px;
      //   margin-left: 95px;
    }
  }
}
