.header {
  background-image: url("./../accset/headerback.jpg");
  background-size: cover;
  background-position: center;
  height: 937px;

  position: relative;
  .mo {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
  }
  .content {
    position: absolute;
    top: 35%;
    font-size: 17px;
    left: 10%;
    h1 {
      color: #f97300;
    }
    p {
      // max-width: 50%;
      font-size: 20px;
    }
    .bottom {
      .see-more {
        border: none;
      }
    }
  }
}
